/* Regras que irão valer para o site inteiro */

/* Regras para Tudo * {} 
    Alterando o comportamento do BOX MODEL visando evitar problemas de tamanho/ espaçamento para todos os elementos da página (por isso, usamos o *) */

* {
    /* Modificando o Box model */
    box-sizing: border-box;
}


body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url(../imagens/oriental-tiles.png); */
    background-attachment: fixed;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgba(0, 7, 128, 1) 99.8%);
}

img {
    max-width: 100%;
}

/* Regra com seletor classe = ao usar classes , podermos escolher livremente onde aplicá-las, ou seja, em quais tags a classe será aplicada. */

.container {
    background-color: rgba(255, 255, 255, 0.849);

    /* Bloco Centralizado */
    width: 70%;
    margin: auto;


    padding: 10px;
    border-radius: 20px;
    box-shadow: red 10px 10px 30px 10px;

}

/* Exercícioo 😎 */

/* 1) Adicione propriedades para:
- Efeito de cor de fundo (use 3 cores à sua escolha) 
- Espaçamento interno de 4%
- Largura de 90%
- Bloco centralizado
- Bordas somente superior e inferior (cor, tamanho, tipo à sua escolha)
- Sombra com configurações à sua escolha (a cor deve ter um pouco de transparência) 
    2)Aplique os efeitos na div*/


.listas {
    background: linear-gradient(darkblue, lightblue, blue);
    width: 60%;
    margin: auto;
    padding: 4%;
    box-shadow: red 20px 20px 10px inset;
    border-top: solid 4px violet;
    border-bottom: solid 6px black;
}

/* Seletor TAG */
p {
    font-size: 18px;

    /* Usando valor fixo/absoluto */
    line-height: 32px;

    /* Usando valor relativo/proporcional */

    line-height: 1.5;
    /* Sem px/medida*/

    /* a Utilização em cascata é usado a mesma propriedade o que vale é a última debaixo pra cima. Ao usar uma propriedade duas vezes na mesma regra, sempre irá prevalecer o valor da última(efeito cascata). No entanto, evite esta situação de repetir propriedades na mesma regra. */
}

/* Seletor Classe */
.centralizar {
    text-align: center;
}

.destaque {
    background-color: violet;
    padding: 3px;
    border: solid 2px black;
    border-radius: 8px;

}

figure {
    margin: 0;
    text-align: center;
    max-width: 419px;
    margin: 0 auto;

    /* Tornando o figure a referência para o posicionamento do figcaption */
    position: relative;

    /* scale (valores de zero até 1 */

    /* efeito para imagens */
    transform: scale(0.95) rotate(4deg) translateY(30px);
    filter: grayscale();
    transition: 200ms;
}

/* Versão abreviada Margin: 0 auto;
    versão detalhada: margin- top: 0; margin-bottom: 0; margin-left: auto e margin- right: auto */


figcaption {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    /* Tornando o elemento absoluto. Agora ele esta "solto", podendo ser colocado em qualquer coordenada */
    position: absolute;

    /* Propriedades de coordenada: top, bottom, left e right */

    /* Para "forçar" o tamanho total */

    /* opção 1: use left/right */

    right: 0;
    left: 0;

    /* opção 2: largura de 100% */

    width: 100%;
    bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* Seletor descendente  - figure é pai do img dentro da regra*/
figure img {
    border: solid 1px;

}

/* Seletor Pseudo-classe- começa com :hover -> passar o mouse*/

figure:hover {
    filter: none;
    transform: scale(1);

}

/* Seletor Descendente */

ol li {
    font-weight: bold;
    font-size: 18px;
}

ul li {
    list-style-type: square;
    /* os icones virão um quadrado*/
    color: white;
}

ul li a {
    /* link da lista  não ordenada */
    color: white;
    text-decoration: none;
    text-shadow: black 1px 1px 4px;
}

/* Pseudo-elemento ::marker (usado apenas para fins visuais/estéticos) */
ul li::marker {
    content: "💕 ";
    font-size: 16px;

}

/*  Pseudo-classe */
ul li:first-child {
    /* primeiro "filho" */
    background-color: blueviolet;
}

ul li:last-child {
    /* último "filho" */
    background-color: yellowgreen;

}

ul li:nth-child(4) {
    /* enésimo "filho" */
    background-color: coral;
}

details ::marker {
    content: "😂 ";
}

details {
    background-color: white;
    padding: 10px;
    border: solid red 10px;
    text-align: center;
}

details[open] summary::marker {
    content: "😜";
}

/* Regras para o menu de links */

nav {
    text-align: center;

}

nav a {
    text-decoration: none;
    /* para tirar o sublinhado dos links*/
    font-weight: bold;
    /* para deixar em negrito */
    background-color: darkred;
    color: white;
    display: inline-block;
    /* usamos  o inline-block para permitir definição de tamanho e ao mesmo manter os elementos lado a lado.  */
    width: 33.33%;
    padding: 10px;
    transition: 1s;
}

nav a:hover,
nav a:focus {
    background-color: blueviolet;
    transform: translateY(10px);
}

.flutuar-imagem {
    float: left;
    margin-right: 12px;
}

h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: blue;

}


h1 {
    font-size: 36px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkslateblue;
    box-shadow: rgba(38, 0, 255, 0.76) 20px 20px 10px inset;

}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}

h4 {
    color: darkblue;
    font-family: fantasy;
    text-align: center;
}


hr {

    margin-top: 60px;

    border: 0;
    height: 4px;
    background: linear-gradient(to right, #f00, #00f);
    /* Gradiente da esquerda para a direita */
}

.espaço {
    margin-top: 60px;
}

.footer {
    text-decoration: none;
    background-color: #00f;
    color: white
}

.animacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    background-color: #32cd32;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 41% 76%, 0% 75%);
    /* para criar imagens geometricas sobre a imagem */
}

/* Criar regra de animação  */
@keyframes cores {

    /* Dê */
    from {
        transform: translateY(-150vw);
        opacity: 0;

    }

    /*PARA*/
    to {
        text-shadow: #00f 0 0 1px;
        /* transform: scale(1.2);  para colocar o efeito de crescer e diminuir */

    }

}

/* Classe para aplicar a animação */
.animacao-cores {
    will-change: transform;
    /* para auxiliar no processamento da animação */

    /* nome da animação é (obrigatório) */
    animation-name: cores;

    /* Atraso (espera um pouco antes de começar) */
    animation-delay: 5s;

    /* duração/tempo da animação é (obrigatório) segundos ou milissegundos*/
    animation-duration: 1s;
    /* para repetir varias vezes utilize a animation-iteration-count: infinite */

    /* quantidade de repetições */
    animation-iteration-count: infinite;

    /* para ficar dinâmico - direção da animação*/
    animation-direction: alternate;

    /* Funções de aceleração/ desaceleração */
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

    /* Forma Abreviada */
    /* vem a função completa somente altere as informações em unica linha */

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    /* forma completa de preenchimento - animation: cores 1s cubic-bezier(0.77, 0, 0.175, 1) 5s infinite alternate ; */

}

@keyframes animaSubtitulos {

    0% {
        color: blue;
    }

    50% {
        color: orange;
        transform: translateX(250px);
        opacity: 0.5;
    }

    75% {
        transform: translateX(10px) scale(2);
    }

    100% {
        transform: scale(1);
        color: pink;
        text-shadow: black 0 0 1px;
    }

}

.subtitulo-animado {
    display: inline-block;
    animation-name: animaSubtitulos;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.banner {
    width: 80%;
    height: 200px;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;


}

@keyframes banneranimado {
    0% { transform: translateX(-500px) rotate(0deg);}
    
    100% { transform: translateX(500px) rotate(360deg);}
}

.banneranimado {
    animation-name: banneranimado;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    height: 100%;
}

.nome-da-marca {
    font-weight: bold;
    color: white;
    background-color: blue;
    font-size: 28px;
    width: 100%;
    text-align: center;
    animation: crescer-mudar-cor 3s infinite ease-in-out;
    z-index: 2;
    
}

@keyframes crescer-mudar-cor{
    0% { 
        font-size: 20px;
        color: white;
        background-color:rgba(0, 0, 255, 0.555);
        opacity: 1px;

    }

    50% {
        font-size: 40px;
        color: gray;
    }
    
    
    100% {
        font-size: 20px;
        color: white;
        background-color: rgba(21, 21, 214, 0.479);
    }


}